h1,
p {
  font-family: Lato;
}

.container {
  color: white;
  background: rgb(35, 123, 124);
  background: linear-gradient(
    0deg,
    rgba(35, 123, 124, 1) 0%,
    rgba(1, 225, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
  margin: auto;
  max-width: 70%;
}
